<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landingpage.css">
    <title>Document</title>
</head>
<body>
    <div id="page">
        <div id="header">
            <img src="\images\logo.jpeg" alt="">
            <div id="buttons">
            <form action="/signup" method="get">
                <button type="submit">SignUp</button>
            </form>
            <form action="/login" method="get">
                <button type="submit">LogIn</button>
            </form>
            </div>
        </div>
        <div id="main">
            <h1 class="pehlawala">Share It Out!!!</h1>
            <h2 class="doosrawala">#Blaze your glory!!!</h2>
            <div id="content">
                <p>Welcome to ShareIt, the platform where you can freely express your thoughts and engage in meaningful conversations. Share your ideas, opinions, and stories in a secure environment that values your privacy. Whether you want to voice your thoughts, seek advice, or connect with like-minded individuals, ThoughtApp provides a safe space for honest and uninhibited communication. Post your thoughts, read others' insights, and join a community that thrives on open dialogue. Experience the power of authentic and meaningful interactions with ShareIt!</p>
            </div>
        </div>
        <%- include('partials/footer') %>
