<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mypost.css">
    <title>Document</title>
</head>
<body>
    <div id="page">
        <div id="header">
            <img src="\images\logo.jpeg" alt="">
            
        </div>

        <div id="nav">
            <div id="top">
                <div id="home" class="sidekbtn">
                    <form action="/home" method="get">
                        <button class="btnn" type="submit">Home</button>
                    </form>
                </div>
                <div id="posts" class="sidekbtn">
                    <form action="/mypost" method="get">
                        <button class="btnn" type="submit">My Posts</button>
                    </form>
                </div>
                <div id="posts" class="sidekbtn">
                    <form action="/create" method="get">
                        <button class="btnn" type="submit">Create Post</button>
                    </form>
                </div>
                <div id="about" class="sidekbtn">
                    <form action="/about" method="get">
                        <button class="btnn" type="submit">Profile</button>
                    </form>
                </div>
                <div id="logout" class="sidekbtn">
                    <form action="/logout" method="get">
                        <button class="btnn" type="submit">LogOut</button>
                    </form>
                </div>
            </div>
            
            <div id="mee">
                <p>Made with ❤️ by <a href="https://github.com/kewalll">Kewal Nanavati</a></p>
            </div>
        </div>

        <div id="msgs">
            <h1>My Posts</h1>
            <% if (posts.length>0) { %>
                
            
            <% posts.forEach(element => { %>
                
            
            <div id="postsection">
                <div id="topic">
                    <label class="headers" for="">Topic:</label>
                    <p><%= element.topic %></p>
                    <br>
                    <label class="headers" for="">Thought:</label>
                    <p><%= element.thought %></p>
                </div>
            </div>
            <% }); %>
            <% } %>
        </div>
    </div>
</body>
</html>