<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login_signup_otp.css">
    <title>Document</title>
</head>
<body>
    <div id="page">
        <div id="header">
            <img src="\images\logo.jpeg" alt="">
            <div id="buttons">
            <form action="/signup" method="post">
                <button type="submit">SignUp</button>
            </form>
            <form action="/login" method="post">
                <button type="submit">Login</button>
            </form>
            </div>
        </div>
        <div id="main">
            <div id="box">
                <form action="/verifyotp" method="post">
                    <h1>OTP verification</h1>
                    <div id="otp">
                    <label for="">OTP</label>
                    <input type="text" name="otp">
                    </div>
                    <button type="submit">Verify</button>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
